
<!DOCTYPE html>
<html lang="en">
<head>

  <header>
    <h1>ServSupp</h1>
    <h4>+7 977 720 91-41</h4>
    <nav>
    <ul>
        <li><a style="text-decoration: none;" href="Main"  >Главная страница</a></li>
        <li><a style=" text-decoration: none;" href="Tovars">Товары</a></li>
        <li><a style="text-decoration: none;" href="services">Услуги</a></li>
        <li><a style="text-decoration: none;" href="Contacts">Контакты</a></li>
        
    </ul>
    </nav>
    </header>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
  <link rel="stylesheet" href="/static/Contacts.css">
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8272256e3c61c08a15b01d84b11399f
97c90556343f0b23cef01a3786ea862c2&amp;source=constructor"
   width="76.5%" 
   height="967em" 
   frameborder="0">
</iframe>
<style type="text/css">
  A {
   color: #fff; 
  }
  A:visited {
   color: #fff; 
  }
 </style>
</head>

<body>
  <div class="contact-info">
    <h2>Наши Контакты:</h1>
       <p> 1. Телефон горячей линии: 7-977-720-9141 </p>
       <p>  2. Электронная почта: ServSupp0011@gmail.com </p>
       <p>   3. Группа в социальных сетях: </p>
       <p>      - Facebook: facebook.com/servsupp </p>
       <p>      - Instagram: instagram.com/servsupp </p>
       <p>      - Twitter: twitter.com/servsupp </p>
       <p>   4. Физический адрес офиса: проспект Будённого, 18Б, г. Москва, 105118</p>
       <p>   5. Контактное лицо: Иван Иванов, директор по обслуживанию клиентов </p>
       <p>   6. Skype: servsupp_support </p>
    <p>   7. WhatsApp: +79777209141 </p>
    <p>   8. Фейсбук: fb.com/ServSupp </p>
    <p>   9. ВКонтакте: vk.com/servsupp_company </p>
    <p>   10. Твиттер: twitter.com/servsupp_rus </p>
    <p>    11. LinkedIn: linkedin.com/company/servsupp</p>
    <p>    12. YouTube: youtube.com/servsupp_channel</p>
    <p>    13. Pinterest: pinterest.com/servsupp</p>
    <p>    14. Техническая поддержка: support@servsupp.com</p>
    <p>    15. Отдел продаж: sales@servsupp.com</p>
    <p>    16. Рекламный отдел: marketing@servsupp.com</p>
    <p>    17. HR отдел: hr@servsupp.com</p>
    <p>    18. Отдел по работе с партнерами: partners@servsupp.com</p>
    <p>    19. Отдел по развитию бизнеса: bizdev@servsupp.com</p>
    <p>    20. Отдел по закупкам: procurement@servsupp.com</p>
    <p>    21. Отдел по кадровой работе: careers@servsupp.com</p>
    <p>    22. Пресс-служба: press@servsupp.com</p>
    </div>
</body>
<footer>
    <p>&copy; 2024 ServSupp. Все права защищены.</p>
</footer>
</html>