<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Описание товара</title>
<link rel="stylesheet" href="/static/Description_1Server.css">
<style type="text/css">
    A {
     color: #fff; 
    }
    A:visited {
     color: #fff; 
    }
   </style>
</head>
<header>
<h1>ServSupp</h1>
<h4>+7 977 720 91-41</h4>
<nav>
<ul>
    <li><a style="text-decoration: none;" href="Main"  >Главная страница</a></li>
    <li><a style=" text-decoration: none;" href="Tovars">Товары</a></li>
    <li><a style="text-decoration: none;" href="services">Услуги</a></li>
    <li><a style="text-decoration: none;" href="Contacts">Контакты</a></li>
</ul>
</nav>
</header>

<body>

    <div class="container">
      <div class="product">
        <img src="/static/Images/1Server.jpg" alt="1Server">
            <div class="product-info">
          <h3>Сервер: DELL R250 4LFF</h3>
          <h3>Корпус: DELL R250 4LFF </h3>
          <h3>Процессор: Intel Xeon Silver 4410Y (2.0GHz, 12C, 30Mb, 150W)</h3>
          <h3>Память: 16GB Single Rank RDIMM 4800MHz</h3>
          <h3>Жесткий диск: 2TB SATA 6Gbps 7.2k 3.5" 512n Hot-plug</h3>
          <h3> Цена: от 166 132 ₽</h3>
          <h3> Аренда: 120$</h3>
          <h3> Гарантия: 2 Года</h3>
          <h3> Производитель: HP</h3>
          <h3> Назначение: Файловый сервер, работа и управление файлами в различном формате. </h3>
          <h3> Вычислительный ресурсы: Сервер с GPU, оборудован графическими процессорами для выполнения задач, требующих параллельных вычислений. </h3>
          <h3> Специализированное оборудование: Сервер с аппаратными ускорителем FPGA (программируемая вентильная матрица).  </h3>
          <h3> Сетевые характеристики: Сервер с защитой от DDoS-атак, обеспечивает защиту от распределенных атак на отказ в обслуживании. </h3>
          <h3> Уровень безопасноти: Сервер с аппаратным шифрованием, обеспечивает высокий уровень безопасности данных. </h3>
          <h3> Год выпуска: 2022 </h3>
          <a href="Buy" class="Buy">Купить</a>
            </div>
      </div>
    </div>
    
    </body>
<footer>
<p>&copy; 2024 ServSupp. Все права защищены.</p>
</footer>
</body>
</html> 