<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Описание товара</title>
<link rel="stylesheet" href="/static/Description_12Server.css">
<style type="text/css">
    A {
     color: #fff; 
    }
    A:visited {
     color: #fff; 
    }
   </style>
</head>
<header>
<h1>ServSupp</h1>
<h4>+7 977 720 91-41</h4>
<nav>
<ul>
    <li><a style="text-decoration: none;" href="Main">Главная страница</a></li>
    <li><a style=" text-decoration: none;" href="Tovars">Товары</a></li>
    <li><a style="text-decoration: none;" href="services">Услуги</a></li>
    <li><a style="text-decoration: none;" href="Contacts">Контакты</a></li>
</ul>
</nav>
</header>

<body>

    <div class="container">
      <div class="product">
        <img src="/static/Images/12Server.jpg" alt="8Server">
            <div class="product-info">
          <h3> Сервер IBM x3530 M4 8SFF.</h3>
          <h3> Корпус:  IBM x3530 M4 8SFF. </h3>
          <h3> Процессор: Intel Xeon Platinum 8426Y (2.0GHz, 40C, 105Mb, 300W).</h3>
          <h3> Память: 256GB RDIMM, 4800MT/s Octo Rank.</h3>
          <h3> Жесткий диск: 1.92TB SSD SATA Read Intensive, 6Gbps 2.5in Hot-Plug.</h3>
          <h3> Цена: от 76 121 ₽.</h3>
          <h3> Аренда: 200$.</h3>
          <h3> Гарантия: 5 Лет.</h3>
          <h3> Производитель: Cisco.</h3>
          <h3> Назначение: Файловый сервер, работа и управление файлами в различном формате. </h3>
          <h3> Вычислительный ресурсы: Высокопроизводительный сервер, обладает большим количеством процессоров, памяти и вычислительных ресурсов. </h3>
          <h3> Специализированное оборудование:  Сервер с аппаратными ускорителем FPGA (программируемая вентильная матрица).  </h3>
          <h3> Сетевые характеристики: Сервер с защитой от DDoS-атак, обеспечивает защиту от распределенных атак на отказ в обслуживании. </h3>
          <h3> Уровень безопасноти: Сервер с аппаратным шифрованием, обеспечивает высокий уровень безопасности данных. </h3>
          <h3> Год выпуска: 2024 </h3>
          <a href="Buy" class="Buy">Купить</a>
            </div>
      </div>
    </div>
    
    </body>
<footer>
<p>&copy; 2024 ServSupp. Все права защищены.</p>
</footer>
</body>
</html> 