<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Описание товара</title>
<link rel="stylesheet" href="/static/Description_2Server.css">
<style type="text/css">
    A {
     color: #fff; 
    }
    A:visited {
     color: #fff; 
    }
   </style>
</head>
<header>
<h1>ServSupp</h1>
<h4>+7 977 720 91-41</h4>
<nav>
<ul>
    <li><a style="text-decoration: none;" href="Main"  >Главная страница</a></li>
    <li><a style=" text-decoration: none;" href="Tovars">Товары</a></li>
    <li><a style="text-decoration: none;" href="services">Услуги</a></li>
    <li><a style="text-decoration: none;" href="Contacts">Контакты</a></li>
</ul>
</nav>
</header>

<body>

    <div class="container">
      <div class="product">
        <img src="/static/Images/2Server.jpg" alt="1Server">
            <div class="product-info">
          <h3>Сервер HPE DL360 Gen10 8SFF</h3>
          <h3>Корпус: HPE DL360 Gen10 8SFF </h3>
          <h3>Процессор: Intel Xeon Gold 5415+ (2.9GHz, 8C, 22.5Mb, 150W)</h3>
          <h3>Память: 32GB Single Rank RDIMM 4800MHz</h3>
          <h3>Жесткий диск: 2TB SATA 6Gbps 7.2k 3.5" 512n Hot-plug</h3>
          <h3> Цена: от 560 648 ₽</h3>
          <h3> Аренда: 1000$</h3>
          <h3> Гарантия: 2 Года</h3>
          <h3> Производитель: Asus</h3>
          <h3> Назначение: Виртуализация, эффективный и экономичный способ использования серверных ресурсов и развертывания ИТ‑сервисов в организации. </h3>
          <h3> Вычислительный ресурсы: Высокопроизводительный сервер, обладает большим количеством процессоров, памяти и вычислительных ресурсов. </h3>
          <h3> Специализированное оборудование: Сервер с аппаратными ускорителем ASIC (специализированные интегральные схемы).  </h3>
          <h3> Сетевые характеристики: Сервер с высокой пропускной способностью, обработка большого объема сетевого трафика. </h3>
          <h3> Уровень безопасноти: Сервер с физической изоляцией, гарантирует полную изоляцию сервера от других систем. </h3>
          <h3> Год выпуска: 2020 </h3>
          <a href="Buy" class="Buy">Купить</a>
            </div>
      </div>
    </div>
    
    </body>
<footer>
<p>&copy; 2024 ServSupp. Все права защищены.</p>
</footer>
</body>
</html> 