<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Описание товара</title>
<link rel="stylesheet" href="/static/Description_6Server.css">
<style type="text/css">
    A {
     color: #fff; 
    }
    A:visited {
     color: #fff; 
    }
   </style>
</head>
<header>
<h1>ServSupp</h1>
<h4>+7 977 720 91-41</h4>
<nav>
<ul>
    <li><a style="text-decoration: none;" href="Main"  >Главная страница</a></li>
    <li><a style=" text-decoration: none;" href="Tovars">Товары</a></li>
    <li><a style="text-decoration: none;" href="services">Услуги</a></li>
    <li><a style="text-decoration: none;" href="Contacts">Контакты</a></li>
</ul>
</nav>
</header>

<body>

    <div class="container">
      <div class="product">
        <img src="/static/Images/6Server.jpg" alt="3Server">
            <div class="product-info">
          <h3> Сервер SuperServer 1029.</h3>
          <h3> Корпус: SuperServer 1029. </h3>
          <h3> Процессор: Xeon Xeon Gold 5420+ (2.0GHz, 28C, 53Mb, 205W).</h3>
          <h3> Память: 32GB Single Rank RDIMM 4800MHz.</h3>
          <h3> Жесткий диск: 600GB SAS 12Gbps 15k 512n 2.5" HD HP.</h3>
          <h3> Цена: от 85 990₽.</h3>
          <h3> Аренда: 200$.</h3>
          <h3> Гарантия: 5 Лет.</h3>
          <h3> Производитель: Dell Technologies.</h3>
          <h3> Назначение:  Файловый сервер, работа и управление файлами в различном формате. </h3>
          <h3> Вычислительный ресурсы: Сервер с GPU, оборудован графическими процессорами для выполнения задач, требующих параллельных вычислений. </h3>
          <h3> Специализированное оборудование:  Сервер с аппаратными ускорителем ASIC (специализированные интегральные схемы).  </h3>
          <h3> Сетевые характеристики: Сервер с защитой от DDoS-атак, обеспечивает защиту от распределенных атак на отказ в обслуживании. </h3>
          <h3> Уровень безопасноти: Сервер с аппаратным шифрованием, обеспечивает высокий уровень безопасности данных. </h3>
          <h3> Год выпуска: 2021 </h3>
          <a href="Buy" class="Buy">Купить</a>
            </div>
      </div>
    </div>
    
    </body>
<footer>
<p>&copy; 2024 ServSupp. Все права защищены.</p>
</footer>
</html> 