<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Описание товара</title>
<link rel="stylesheet" href="/static/Description_3Server.css">
<style type="text/css">
    A {
     color: #fff; 
    }
    A:visited {
     color: #fff; 
    }
   </style>
</head>
<header>
<h1>ServSupp</h1>
<h4>+7 977 720 91-41</h4>
<nav>
<ul>
    <li><a style="text-decoration: none;" href="Main"  >Главная страница</a></li>
    <li><a style=" text-decoration: none;" href="Tovars">Товары</a></li>
    <li><a style="text-decoration: none;" href="services">Услуги</a></li>
    <li><a style="text-decoration: none;" href="Contacts">Контакты</a></li>]

</ul>
</nav>
</header>

<body>

    <div class="container">
      <div class="product">
        <img src="/static/Images/3Server.jpg" alt="3Server">
            <div class="product-info">
          <h3>Сервер HPE DL380 Gen10 8SFF.</h3>
          <h3>Корпус: HPE DL380 Gen10 8SFF. </h3>
          <h3>Процессор: Intel Xeon Platinum 8460Y+ (2.0GHz, 40C, 105Mb, 300W).</h3>
          <h3>Память: 256GB RDIMM, 4800MT/s Octo Rank.</h3>
          <h3>Жесткий диск: 2.4TB SAS 12Gbps 10k 2.5" HD HP.</h3>
          <h3> Цена: от 471 712 ₽.</h3>
          <h3> Аренда: 850$.</h3>
          <h3> Гарантия: 2 Года.</h3>
          <h3> Производитель: Toshiba.</h3>
          <h3> Назначение: Сервер для Базы данных, который обеспечивает работу баз данных (БД) и систем управления базами данных (СУБД). </h3>
          <h3> Вычислительный ресурсы: Высокопроизводительный сервер, обладает большим количеством процессоров, памяти и вычислительных ресурсов. </h3>
          <h3> Специализированное оборудование: Сервер с аппаратными ускорителем FPGA (программируемая вентильная матрица).  </h3>
          <h3> Сетевые характеристики: Сервер с защитой от DDoS-атак, обеспечивает защиту от распределенных атак на отказ в обслуживании. </h3>
          <h3> Уровень безопасноти: Сервер с аппаратным шифрованием, обеспечивает высокий уровень безопасности данных. </h3>
          <h3> Год выпуска: 2023 </h3>
          <a href="Buy" class="Buy">Купить</a>
            </div>
      </div>
    </div>
    
    </body>
<footer>
<p>&copy; 2024 ServSupp. Все права защищены.</p>
</footer>
</body>
</html> 