<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Веб-сайт для продажи специализированных серверов</title>
<link rel="stylesheet" href="/static/MainStyle.css">
<style type="text/css">
    A {
     color: #fff; 
    }
    A:visited {
     color: #fff; 
    }
   </style>
</head>
<header>
<h1>ServSupp</h1>
<h4>+7 977 720 91-41</h4>
<nav>
<ul>
    <li><a style="text-decoration: none;" href="Main"  >Главная страница</a></li>
    <li><a style=" text-decoration: none;" href="Tovars">Товары</a></li>
    <li><a style="text-decoration: none;" href="services">Услуги</a></li>
    <li><a style="text-decoration: none;" href="Contacts">Контакты</a></li>
</ul>
</nav>
</header>

<body>
<section id="products">
<h2>Предоставляемые нами услуги:</h2>
<div class="product">
    <li> <a style="color:rgb(0, 195, 255);">Аренда сервера</a></li>
<p>Аренда выделенных серверов с GPU. Мощные сервера
     с видеокартами для игрового стриминга, рендеринга,
      нагруженных вычислений.</p>
</div>
<div class="product">
    <li><a style="color:rgb(0, 195, 255);">Настройка индивидуального сервера приватной сетевой инфраструктуры. </a> </li> 
<p>Обычно настройка личного сервера приватной сетевой инфраструктуры требует
     базовых знаний администрирования серверов. Даже следуя пошаговым инструкциям,
     пользователи могут сталкиваться с трудностями в настройке. 
     <br>
     <br>
     ServSupp предлагает арендовать VPS-сервер, на котором уже предустановлен
      выбранный сервис сетевой безопасности. Вам останется только настроить 
      своё устройство и начать пользоваться безопасным интернетом. Обычно процесс
      настройки занимает не более 5 минут. 
      <br>
      <br>
      Арендуйте надежный VPS в Нидерландах, США, Европе и России. 
      Готовность: ≈15 минут. </p>


</div>
<div class="product">
    <li><a style="color:rgb(0, 195, 255);">Обеспечение безопасности серверу.</a></li>
<p>ServSupp предлагает комплекс мер по устранению угроз, 
    направленных на эти серверы, с целью защиты 
    веб-трафика, локальной корпоративной сети и информации, хранящейся в ней.</p>
</div>
</section>
<div class="about">
<h2>О нас:</h2>
<p>     Компания Servsupp была основана несколько лет назад группой опытных
    специалистов в сфере информационных технологий. Их целью было создать 
    уникальное предприятие, специализирующееся на продаже высококачественных и 
     надежных серверов для ИТ-инфраструктуры. Servsupp быстро завоевала доверие 
     клиентов своим индивидуальным подходом к каждому заказчику, а также широким 
     ассортиментом продукции, отвечающей самым высоким стандартам качества.
     <br>
     <br>
Одним из главных преимуществ компании Servsupp перед конкурентами является ее 
уникальная технологическая база и высококвалифицированные специалисты, которые 
следят за новыми тенденциями в области серверных технологий и постоянно 
совершенствуют свои продукты. Кроме того, компания применяет индивидуальный 
подход к каждому клиенту, стремясь полностью удовлетворить его потребности и 
требования.
      <br>
      <br>
Servsupp также выделяется на фоне конкурентов своей ответственностью и 
надежностью. Клиенты могут быть уверены, что заказанные у компании сервера 
будут работать стабильно и без сбоев, а любые проблемы будут оперативно решены 
профессиональной службой поддержки. Все это делает компанию Servsupp одним из 
лидеров на рынке специализированных серверов и позволяет ей успешно конкурировать 
с крупными игроками в отрасли.</p>

<section id="contact">
<h2>Контакты</h2>
<p>Если у вас остались какие либо вопросы или нужна помощь свяжитесь с нами 
    через <a style="color:rgb(255, 54, 54)" href="https://mail.google.com/mail/
    u/0/#search/servsupp0011%40gmail.com?compose=new">ServSupp0011@gmail.com </a> или по номеру
телефона +7 977 720 91-41. </p> </div> 
</section>
    <div id="mc-review"></div>
<script type="text/javascript">
cackle_widget = window.cackle_widget || [];
cackle_widget.push({widget: 'Review', id: 81154});
(function() {
    var mc = document.createElement('script');
    mc.type = 'text/javascript';
    mc.async = true;
    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
})();
</script>
<footer>
<p>&copy; 2024 ServSupp. Все права защищены.</p>
</footer>
</body>
</html> 