
<!DOCTYPE html>
<html lang="en">
<head>
  <header>
    <h1>ServSupp</h1>
    <h4>+7 977 720 91-41</h4>
    <nav>
    <ul>
        <li><a style="text-decoration: none;" href="Main"  >Главная страница</a></li>
        <li><a style=" text-decoration: none;" href="Tovars">Товары</a></li>
        <li><a style="text-decoration: none;" href="Services">Услуги</a></li>
        <li><a style="text-decoration: none;" href="Contacts">Контакты</a></li>
        
    </ul>
    </nav>
    </header>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Услуги</title>
  <link rel="stylesheet" href="/static/services.css">
</iframe>
<style type="text/css">
  A {
   color: #fff; 
  }
  A:visited {
   color: #fff; 
  }
 </style>
</head>
<body>
    <div class="card">
        <h2>1. Аренда сервера</h2>
        <p>Аренда выделенных серверов с GPU. Мощные сервера с видеокартами для игрового стриминга, рендеринга, нагруженных вычислений.</p>
        <p class="price">Цена: $100 - $5000</p>
    </div>
    
    <div class="card">
        <h2>2. Настройка индивидуального сервера приватной сетевой инфраструктуры.</h2>
        <p>Обычно настройка личного сервера приватной сетевой инфраструктуры требует
            базовых знаний администрирования серверов. Даже следуя пошаговым инструкциям,
            пользователи могут сталкиваться с трудностями в настройке. 
            <br>
            <br>
            ServSupp предлагает арендовать VPS-сервер, на котором уже предустановлен
             выбранный сервис сетевой безопасности. Вам останется только настроить 
             своё устройство и начать пользоваться безопасным интернетом. Обычно процесс
             настройки занимает не более 5 минут. 
             <br>
             </p>
        <p class="price">Цена: $50</p>
    </div>
    
    <div class="card">
        <h2>3. Обеспечение безопасности серверу.</h2>
        <p>ServSupp предлагает комплекс мер по устранению угроз, 
            направленных на эти серверы, с целью защиты 
            веб-трафика, локальной корпоративной сети и информации, хранящейся в ней.</p>
        <p class="price">Цена: $10</p>
    </div>

    <div class="card">
        <h2>4. Обучение персонала работе с новым программным обеспечением.</h2>
        <p>Обучение персонала работе с новым программным обеспечением - это специализированная услуга, 
            направленная на обучение сотрудников компании использованию новых программных продуктов, систем
             или инструментов. Целью такого обучения является повышение навыков и знаний персонала, необходимых
              для эффективного использования нового программного обеспечения в рабочих процессах.
              <br>
              <br>
            Обучение персонала работе с новым программным обеспечением поможет компании
              повысить производительность труда, улучшить качество работы и быстрее адаптироваться к
              изменениям в информационных технологиях. </p>
        <p class="price">Цена: $330</p>
    </div>

    <div class="card">
        <h2>5. Обслуживание и поддержка информационной инфраструктуры компаний.</h2>
        <p>Обслуживание и поддержка информационной инфраструктуры позволяют компаниям сосредоточиться 
            на своем основном бизнесе, не беспокоясь о проблемах с IT-системами, а также повысить эффективность работы
             и безопасность информации.</p>
        <p class="price">Цена: $150</p>
    </div>

    <div class="card">
        <h2>6. Разработка и внедрение корпоративных решений для автоматизации бизнес-процессов.</h2>
        <p>Разработка и внедрение корпоративных решений для автоматизации бизнес-процессов позволяет
             компаниям повысить эффективность работы, сократить издержки, улучшить качество предоставляемых услуг и улучшить управление бизнесом.</p>
        <p class="price">Цена: 20$</p>
    </div>

    <div class="card">
        <h2>7. Проведение мероприятий по апгрейду и модернизации инфраструктуры.</h2>
        <p>Проведение мероприятий по апгрейду и модернизации инфраструктуры помогает компаниям улучшить производительность, повысить
             надежность систем, снизить риски простоев и обеспечить конкурентоспособность на рынке.</p>
        <p class="price">Цена: $200</p>
    </div>

    <div class="card">
        <h2>8. Консультации по выбору программного обеспечения и аппаратных средств.</h2>
        <p>Консультации по выбору программного обеспечения и аппаратных средств помогают 
            компаниям принять обоснованные решения при покупке и внедрении технических средств, что способствует 
            повышению эффективности бизнес-процессов, снижению затрат и улучшению качества работы организации.</p>
        <p class="price">Цена: $25</p>
    </div>
    </body>
<footer>
    <p>&copy; 2024 ServSupp. Все права защищены.</p>
</footer>
</html>